<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
                      <!-- Model -->
<!-- List -->
 <bean id="model" class="model.PersonInfoList" />

<!-- Maps -->
<bean id="model1" class="model.PersonInfoMaps"/>

<!-- SQL -->
<!--<bean id="model" class="model.PersonInfoSQL">
<constructor-arg value="test"/>
<constructor-arg value="root">
<constructor-arg value=""/>
</bean>-->

                     <!-- View -->
 <!-- View -->   
 <bean id="view" class="view.PersonInfoConsole"/> 
       
 
                     <!-- Controller -->
  <!-- File Requester -->                   
 <bean id="requester" class="controller.FileRequester" scope="prototype">
 <constructor-arg value="personss"/>
 </bean> 
  
 <!-- Console Requester -->
 <!-- <bean id="requester" class="controller.ConsoleRequester"/>-->
 
 
 <!-- Person Test -->
 <bean id="test" class="controller.PersonTest">
 <constructor-arg> <ref bean="model"/></constructor-arg>
 <constructor-arg> <ref bean="requester"/></constructor-arg>
 <constructor-arg> <ref bean ="view"/></constructor-arg>
 </bean> 
              <!-- cind vrem savedem cind se cheama a doua oara metoda run , -->
 <bean id="test1" class="controller.PersonTest">
 <constructor-arg> <ref bean="model1"/></constructor-arg>
 <constructor-arg> <ref bean="requester"/></constructor-arg>
 <constructor-arg> <ref bean ="view"/></constructor-arg>
 </bean> 
  
  <!--AOP  -->  
  
  <bean id="person_aop" class="aop.PersonsAOP"/> 
   
  <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
  <aop:config>
  <aop:aspect ref="person_aop">
  <aop:pointcut expression="execution(public * run*(..))" id="timing_cut"/>
  <aop:around method="timing" pointcut-ref="timing_cut"/>
  </aop:aspect>
  </aop:config>
           
  </beans>
